.about {
  text-align: center;
  width: 72%;
  margin: auto;
}

.navbar-cont {
  text-align: center;
}

.about>h1 {
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.imgcont {
  width: 100%;
  height: 80%;
}

.about p {
  color: gray;
}

.board {
  padding-left: 30px !important;
  padding-right: 0px !important;
}

.footer {
  background-color: #FFEDB8;
  color: gray;
  margin-top: 60px !important;
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer div:hover {
  color: black;
}

.navbar-cont {
  justify-content: start;
  padding-left: 235px;
}

.navbar-cont .nav-link {
  color: #0D0E43 !important;
  border: unset !important;
  font-family: Raleway !important;
  font-size: 16px;
  font-weight: 600;
}

.navbar-contfirst .nav-link {
  color: white !important;
  border: unset !important;
  font-family: Raleway !important;
  font-size: 16px;
  font-weight: 600;
  padding-right: 50px !important;
}

.navbar-contfirst {
  background-color: #E72E62;
  display: flex;
  justify-content: flex-end;
}

.mainhead {
  text-align: center;
  font-family: 'DM Serif Display';
  color: #44334F;
  font-size: 34px;
  font-weight: 400;
  padding: 0px 15px;
}

.lnkfoot {
  text-decoration: none;
  display: block;
  color: #8A8FB9 !important;
  font-size: 16px;
  font-weight: 550;
  margin: 5px;
}

.rowimg-cont {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 30px;
}

.container-fullscreen-cont {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.backgroundimage-cont {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.blog-story {
  font-size: 28px;
  color: black;
  font-weight: 600;
  padding-top: 20px;
}

.content-alignment {
  font-size: 16px;
  text-align: justify;
}

.cardgroup-cont {
  padding: 200px;
  padding-top: 8px;
  padding-bottom: 20px;
}

.card-cont {
  margin: 110px;
  margin-top: 10px;
  margin-left: 53px;
  box-shadow: 5px 1px 28px gray;
}


.cardtitle-cont {
  font-weight: 900 !important;
  font-size: 1.4rem !important;
}

.cardtitle-cont:hover {
  border-bottom: 4px solid #ADD8E6;

}

.cardtext-cont {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #E72E62;
  font-size: 16px;
  font-weight: 700;
}

.carddate {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1a2a30 !important;
  padding-bottom: 15px !important;
}

.page-head {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  color: #1A0B5B !important;
  line-height: 1.4;
  margin: 40px 0px 40px 0px;
}

.projecthead {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #1A0B5B !important;
  line-height: 1.4;
  margin: 40px 0px 20px 0px;
}

.line-cnt {
  background: #7B756F;
  height: 2px;
  flex-grow: 2;
  margin: auto;
  line-height: 1.5;
  max-width: 700px !important;
}

.big-imgcont {
  margin: auto;
  text-align: center;
  height: 500px;
}

.big-img {
  height: 80%;
  width: 70%;
  object-fit: cover;
}

.big-text {
  font-size: 53px;
  font-weight: 400;
  font-family: "DM Serif Display";
}

.big-textcont {
  margin: auto;
}

.pink-cont {
  background-color: #E72E62;
  padding: 1px 0px 60px 0px;
  margin-top: 40px;
}

.pink-btncnt {
  background-color: white;
  text-align: center;
}

.homenav-cnt {
  background-image: linear-gradient(#1d263e 80%, white) !important;
  min-height: 250px;
}

.explore-cnt {
  background-color: white !important;
  color: #27BEB9;
  border: solid black 1px;
  border-radius: 15px;
  font-family: 'DM Serif Display';
}

.explore-cntyellow {
  font-family: 'DM Serif Display';
  background-color: #F39520 !important;
  color: black;
  border: none;
  width: 100%;
}

.explore-cnt:hover {
  color: #1A0B5B;
}

.navbar-cont .nav-link:hover {
  border: 4px solid white !important;
  color: white;
}

@media(max-width:700px) {
  .projecthead {
    margin-left: 0px;
  }

  .page-head {
    text-align: center;
    margin: 40px 0px 40px 0px;
  }

  .custome-head-cnt {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
  }

  .cardgroup-cont {
    padding: 4%;
    padding-top: 8px;
  }

  .homenav-cnt {
    min-height: 300px;
  }

  .footer {
    margin: auto;
  }

  .big-imgcont {
    margin-left: 0px !important;
    height: 400px;
  }

  .big-img {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .navbar-contfirst {
    justify-content: center !important;
  }

  .navbar-contfirst .nav-link {
    padding-right: 0px !important;
  }

  .navbar-cont {
    justify-content: center;
    padding-left: 0px;
  }

  .card-cont {
    margin: 10px;
    margin-top: 60px;
  }
}

.title {
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}

.crd {
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product>mat-card>img {
  object-fit: contain;
  height: 200px;
}

.product>mat-card {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  width: 300px;
  margin: 20px;
  align-items: center;
}

.product>mat-card>button {
  margin-top: 20px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88134 #9c7e31 #846a29;
  padding: 5px;
  font-weight: bold;
}

.d1 {
  background-color: #FFF4E4;
}

.frm{
  text-align: center;
}
.btnspc{
  margin-left: 10px;
  background-color: #70c5c0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  height: 40px;
  padding: 10px;
  margin-top: 10px;
}
.btnspc:hover{
  border: 2px solid black;
}


  .dropbtn {
    background-color: #70c5c0;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      border-radius: 7px;
      height: 40px;
      padding: 10px;
      margin-top: 10px;
  }


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
