<div class="container-fluid mt-3 container-fullscreen-cont">
  <div class="custome-head-cnt">
    <div class="row d1">
      <div class="page-head h4">
        <div>Top Products</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="dropdown col-md-4">
          <button class="dropbtn">Sort by Price</button>
          <div class="dropdown-content">
            <a (click)="sortasc()">Low to High </a>
            <a (click)="sortdesc()">High to Low</a>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-3 crd" *ngFor="let prod of sortedProductsList;let i=index">
          <app-cards *ngIf="i>=start&&i<start+4" [items]="prod"></app-cards>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <form class="frm">
            <input class="scrowl btnspc" type="button" value="<<prev" (click)="backward()" />
            <input class="scrowl btnspc" type="button" value="next>>" (click)="forward()" />
          </form>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
