<!--Main Navigation-->
<div class="p-3 text-center text-white" style="background-color: black">
  <div class="container">
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
        <a routerLink="/cards" class="ms-md-2">
          <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
        </a>
      </div>

      <div class="col-md-7">
        <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
          <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" />
          <button type="submit" class="rounded"><i class="fa fa-search"></i></button>
        </form>

      </div>
      <div class="col-md-3 container justify-content-center justify-content-md-between">
        <ul class="navbar-nav flex-row">
          <li class="nav-item d-md-inline-block" style="padding-right: 30px;">
            <a class="nav-link" routerLink="/login">Sign In</a>
          </li>
          <li class="nav-item d-md-inline-block" style="padding-right: 30px;">
            <a class="nav-link" href="#">Order History</a>
          </li>
          <li class="nav-item d-md-inline-block" style="padding-left: 30px;">
            <a><img
                src="https://thumbs.dreamstime.com/b/shopping-icon-shopping-cart-icon-dark-background-simple-vector-icon-shopping-icon-shopping-cart-icon-dark-background-116659167.jpg"
                height="45"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
