<div class="container-fluid mt-3 container-fullscreen-cont">
  <div class="custome-head-cnt">
    <div class="row d1">
      <div class="col-sm-5 big-imgcont">
        <div>
          <img class="big-img" src="./assets/Pictures/one.jpg" alt="img">
        </div>
      </div>
      <div class="col-sm-5 big-textcont">
        <p class="big-text big-textspc">
          Local indian
        </p>
        <p class="big-text ">products</p>
        <p class="big-text ">Now Yours...</p>
        <p class="big-text ">Best part,</p>
        <p class="big-text">it's on
        </p>
        <p class="big-text"> your WAY!!
        </p>

        <p class="small-text">Years old legacy products are now in your hands..</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="projecthead h4">Best Sellers</div>
        <div class="row">
          <div class="col-sm-3 crd" *ngFor="let prod of productsList;let i=index">
            <app-cards *ngIf="i<4" [items]="prod"></app-cards>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="pink-cont">
    <div class="custome-head-cnt">
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <!--<div class="projecthead h4" style="color:white !important">Top Products</div>-->
      </div>
      <div class="col-sm-2"></div>
      <app-top-products></app-top-products>
    </div>
  </div>
  <div class="custome-head-cnt">
    <div class="projecthead h4">Go Vocal for Local</div>
    <div class="row d2">
      <div class="col-sm-5 big-imgcont">
        <div>
          <img class="big-img" src="./assets/Pictures/one.jpg" alt="img">
        </div>
      </div>
      <div class="col-sm-5 big-textcont d3">
        <p class="big-text big-textspc">Support Handloom</p>
        <p class="big-text">-Go vocal for local</p>
        <p class="p1">Support Handloom
          - Go vocal for local
          We invite individuals to collaborate with us
          and proliferate handloom crafts far and wide
          by being social responsible comrade.
          We also share revenues for referral.</p>
      </div>
    </div>
  </div>
</div>