


<div class="container-fluid mt-3 container-fullscreen-cont">
  <div class="custome-head-cnt">
    <div class="row d1">
      <div class="page-head h4">
        <div>Add Product</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="login-form">
        
          <div class="form-group">
            <input type="text" class="form-control inpspc" [(ngModel)]="model.productName" placeholder="Product Name">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control inpspc" [(ngModel)]="model.productDescription" placeholder="Product Description">
          </div>
        
          <div class="form-group">
            <input type="number" class="form-control inpspc" [(ngModel)]="model.price" placeholder="Product Price">
          </div>
        
          <div class="form-group">
            <input type="number" class="form-control inpspc" [(ngModel)]="model.productOfferPrice" placeholder="Product Offer Price">
          </div>
        
          <div class="form-group">
            <input type="number" class="form-control inpspc" [(ngModel)]="model.productRating" placeholder="Product Rating">
          </div>
        
          <div class="form-group">
            <input type="number" class="form-control inpspc" [(ngModel)]="model.quantity" placeholder="Product Quantity">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control inpspc" [(ngModel)]="model.imagePath" placeholder="Product ImageURL">
          </div>
        
          <div class="form-group inpspc">
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="submitProduct()">Add</button>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>



