<div class="footer row" style="width:100.9%">
  <div class="col-sm-1"></div>
  <div class="col-sm-5 p-3 h6">
    <div class="mainhead d1">BuyMeLocal</div>
    <p class="p1">Promotions,new products and sales.<br>
      Directly to your inbox.</p>
    <input type="text" id="lname" name="lname" placeholder="Enter Email Address" class="i1">
    <input type="submit" value="Submit" class="i2">
    <p class="p2">Contact
      Info</p>
    <p class="p3">Ph No. 0124-456999</p>
  </div>
  <div class="col-sm-3 p-3 h6">
    <div class="h4 d2">Customer Care</div>
    <a class="lnkfoot" routerLink="/account">My Account</a>
    
    <a class="lnkfoot" routerLink="/order">Order History</a>
  </div>
  <div class="col-sm-2 p-3 h6">
    <div class="h4 d2">Pages</div>
    <a class="lnkfoot" routerLink="/about">About Us</a>
    <a class="lnkfoot" routerLink="/allproducts">Browse the Shop</a>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="d3"  >

</div>
