.form-control {
  min-height: 20px;
  background: #fff;
  box-shadow: none !important;
  border-color: #f4c8c8;
}

.page-head {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  width: 100%;
  color: #1A0B5B !important;
  line-height: 1.4;
  margin: 10px 0px 10px 0px;
}

.c1 {
  background-color: #FFF4E4;
}

.form-group {
  margin: 10px;
}

.form-control:focus {
  border-color: #70c5c0;
}

.form-control,
.btn {
  border-radius: 2px;
}

.login-form {
  width: 350px;
  margin: 0 auto;
  padding: 20px 0 30px;
}

.login-form form {
  color: #7a7a7a;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: #ececec;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
}

.login-form h2 {
  font-size: 22px;
  margin: 35px 0 25px;
  color: black;
}

.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 110px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  z-index: 9;
  background: #E72E62;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form .avatar img {
  width: 100%;
  height: 100%;
}

.login-form input[type="checkbox"] {
  margin-top: 2px;
}

.login-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #70c5c0;
  border: none;
  margin-bottom: 20px;
}

.login-form .btn:hover,
.login-form .btn:focus {
  background: #50b8b3;
  outline: none !important;
}

.login-form a {
  color: blue;
  text-decoration: underline;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}

.login-form form a:hover {
  text-decoration: underline;
}

.input-icons i {
  position: absolute;
  left: 280px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: black;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
