<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-5">
          <img class="bigimg" src={{prodData.imagePath}} alt="Girl in a jacket">
        </div>
        <div class="col-sm-7 dsc">
          <div class="row heading">
            <p>{{prodData.productName}}</p>
          </div>
          <div class="row content">
            <p> <span class="disc">-{{this.discountprice}}%</span><span class="discprice">{{prodData.productOfferPrice}}
                INR</span></p>
            <p> MRP:<s>{{prodData.price}} INR</s></p>
            <p> Description: {{prodData.productDescription}}</p>
            <p> Product Rating:<span *ngFor="let n of fakeArray ;let i=index">
                <i *ngIf="i<prodData.productRating" class='fa fa-star ratting-stars'></i>
              </span></p>
          </div>
          <form>
            <span>

              <input class="addcart" type="button" value=" Add To Cart" (click)="submitToCart()" />
              <i class="fa fa-shopping-cart" style="font-size:24px;color: #39468e; margin-left: 5px;"></i>
            </span>
          </form>

          <form>
            <span>
              <input class="addcart" type="button" value="Add To wishlist" (click)="submitToWishList()" /><i
                class="fa fa-heart" aria-hidden="true"
                style="font-size:24px;color: #39468e; margin-left: 5px;"></i></span>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="row heading">
          <p>Related Products</p>
        </div>
        <div class="col-sm-3" *ngFor="let prod of productsList">
          <app-cards [items]="prod"></app-cards>

        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>