<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h2>{{prodData.productName}}</h2>
      <div class="row">
        
        <div class="col-sm-5"><img class="bigimg"
            src={{prodData.imagePath}} alt="Girl in a jacket">
        </div>
        <div class="col-sm-7 dsc">
          <div class="row heading">
            <p>{{prodData.productName}}</p>
          </div>
          <div class="row content">
            <p> MRP {{prodData.price}}</p>
            <p> Discount MRP ={{prodData.productOfferPrice}}</p>
            <p>  Discription {{prodData.productDescription}}</p>
            <p> Product Rating {{prodData.productRating}}</p>
          </div>
          <form>
            <input class="addcart" type="button" onclick="window.location.href='https://www.w3docs.com';"
              value="add to Cart" />
          </form>
        </div>
      </div>
      <div class="row">
        <h2>Related Products</h2>
        <div class="col-sm-3" *ngFor="let prod of productsList">
          <app-cards [items]="prod"></app-cards>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
