<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-5">
          <img class="bigimg" src={{prodData.imagePath}} alt="Girl in a jacket">
        </div>
        <div class="col-sm-7 dsc">
          <div class="row heading">
            <p>{{prodData.productName}}</p>
          </div>
          <div class="row content">
            <p> MRP: {{prodData.price}}</p>
            <p> Discount MRP: {{prodData.productOfferPrice}} INR</p>
            <p> Description: {{prodData.productDescription}} INR</p>
            <p> Product Rating: {{prodData.productRating}}</p>
          </div>
          <form>
            <input class="addcart" type="button" value="Add To Cart" (click)="submitToCart()" />
          </form>
          <a routerLink="/wishlist" class="btn btn-primary explore-cnt">WishList +</a>
        </div>
      </div>
      <div class="row">
        <div class="row heading">
          <p>Related Products</p>
        </div>
        <div class="col-sm-3" *ngFor="let prod of productsList">
          <app-cards [items]="prod"></app-cards>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
