
<div class="container-fluid mt-3 container-fullscreen-cont">
  <div class="custome-head-cnt">
    <div class="row c1">
      <div class="page-head h4">WishList</div>
    </div>
    

<div class="container">
  <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8">
              <div class="ibox">

                  
                  
                  
                  
                  <div class="ibox-content" *ngFor="let item of wishList">
                      <div class="table-responsive">
                          <table class="table shoping-cart-table">
  
                              <tbody>
                              <tr>
                                  <td width="90">
                                      
                                        <img src={{item.imgURL}} style="height:69px;width:69px">
                                
                                  </td>
                                  <td class="desc">
                                      <p class="small text-muted mb-4 pb-2 p1">Product Name</p>
                                      <p class="big">
                                        {{item.productName}}
                                      </p>
                                      <dl class="small m-b-none">
                                        <dt>Description</dt>
                                        <dd>{{item.productDescription}}</dd>
                                    </dl>
                                    <div class="m-t-sm">
                                      <input type="button" value="Remove" class=" btn btn-danger"  (click)="removeItem(item.wishListId)">
                                  </div>
                        
                                  </td>
            
                                      
                                  <td>
                                    <p class="small text-muted mb-4 pb-2 p1">Product Price</p>
                                    Rs:{{item.productOfferPrice}}
                                    <br>
    
                                    
                                  </td>
                                  <td>
                                    <a class="btn btn-white" [routerLink]="[ '/product',item.productId]">View Product</a>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="ibox-content">
                      <a class="btn btn-white" routerLink="/allproducts"><i class="fa fa-arrow-left"></i> Continue shopping</a>
  
                  </div>
              </div>
  
          </div>
          <div class="col-md-2"></div>
      </div>
  </div>
  </div>

</div>
</div>



