about {
  text-align: center;
  width: 60%;
  margin: auto;
}

.c1 {
  background-color: #FFF4E4;
}

.p1 {
  margin-bottom: 5px !important;
}

.p2 {
  font-size: 16px !important;
}

.b1 {
  background-color: #27BEB9;
  border: none
}

.navbar-cont {
  text-align: center;
}

.about>h1 {
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.imgcont {
  width: 100%;
  height: 100%;
}

.about p {
  color: gray;
}

.board {
  padding-left: 10px !important;
  padding-right: 0px !important;
}

.footer {
  background-color: #FFEDB8;
  color: gray;
  margin-top: 60px !important;
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer div:hover {
  color: black;

}

.navbar-cont {
  justify-content: start;
  padding-left: 360px;
}

.navbar-cont .nav-link {
  color: #0D0E43 !important;
  border: unset !important;
  font-family: Raleway !important;
  font-size: 16px;
  font-weight: 600;
}

.navbar-contfirst .nav-link {
  color: white !important;
  border: unset !important;
  font-family: Raleway !important;
  font-size: 16px;
  font-weight: 600;
  padding-right: 50px !important;

}

.navbar-contfirst {
  background-color: #E72E62;
  display: flex;
  justify-content: flex-end;
}

.mainhead {
  text-align: center;
  font-family: 'DM Serif Display';
  color: #44334F;
  font-size: 34px;
  font-weight: 400;
  padding: 0px 15px;
}

.lnkfoot {
  text-decoration: none;
  display: block;
  color: #8A8FB9 !important;
  font-size: 16px;
  font-weight: 550;
  margin: 5px;
}

.rowimg-cont {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 30px;
}

.container-fullscreen-cont {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.backgroundimage-cont {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.blog-story {
  font-size: 28px;
  color: black;
  font-weight: 600;
  padding-top: 20px;
}

.content-alignment {
  font-size: 16px;
  text-align: justify;
}

.cardgroup-cont {
  padding: 200px;
  padding-top: 8px;
  padding-bottom: 20px;
}

.card-cont {
  margin: 10px;
  margin-top: 60px;
  box-shadow: 5px 1px 28px gray;
}

.card-cont:hover {
  border: 10px solid #ADD8E6;
  border-left: 10px solid #ADD8E6 !important;
}

.cardtitle-cont {
  font-weight: 900 !important;
  font-size: 1.4rem !important;
}

.cardtitle-cont:hover {
  border-bottom: 4px solid #ADD8E6;

}

.cardtext-cont {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #E72E62;
  font-size: 16px;
  font-weight: 700;
}

.carddate {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1a2a30 !important;
  padding-bottom: 15px !important;
}

.page-head {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  color: #1A0B5B !important;
  line-height: 1.4;
  margin: 40px 0px 40px 0px;
}

.projecthead {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #1A0B5B !important;
  line-height: 1.4;
  margin: 40px 0px 20px 0px;
}

.line-cnt {
  background: #7B756F;
  height: 2px;
  flex-grow: 2;
  margin: auto;
  line-height: 1.5;
  max-width: 700px !important;
}

.big-imgcont {
  margin: auto;
  text-align: center;
  height: 500px;
}

.big-img {
  height: 80%;
  width: 70%;
  object-fit: cover;
}

.big-text {
  font-size: 53px;
  font-weight: 400;
  font-family: "DM Serif Display";
}

.big-textcont {
  margin: auto;
}

.pink-cont {
  background-color: #E72E62;
  padding: 1px 0px 60px 0px;
  margin-top: 40px;
}

.pink-btncnt {
  background-color: white;
  text-align: center;
}

.homenav-cnt {
  background-image: linear-gradient(#1d263e 80%, white) !important;
  min-height: 250px;
}

.explore-cnt {
  background-color: white !important;
  color: #27BEB9;
  border: solid black 1px;
  border-radius: 15px;
  font-family: 'DM Serif Display';
}

.explore-cntyellow {
  font-family: 'DM Serif Display';
  background-color: #F39520 !important;
  color: black;
  border: none;
}

.explore-cnt:hover {
  color: #1A0B5B;
}

.navbar-cont .nav-link:hover {

  border: 4px solid white !important;
  color: white;
}

@media(max-width:700px) {
  .projecthead {
    margin-left: 0px;
  }

  .custome-head-cnt {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }

  .cardgroup-cont {
    padding: 4%;
    padding-top: 8px;
  }

  .homenav-cnt {
    min-height: 300px;
  }

  .footer {
    margin: auto;
  }

  .big-imgcont {
    margin-left: 0px !important;
    height: 400px;
  }

  .big-img {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .navbar-contfirst {
    justify-content: center !important;
  }

  .navbar-contfirst .nav-link {
    padding-right: 0px !important;
  }

  .navbar-cont {
    justify-content: center;
    padding-left: 0px;
  }
}

.ct {
  margin-top: 30px;
}



body{margin-top:20px;
  background:#eee;
}
h3 {
  font-size: 16px;
}
.text-navy {
  color: #1ab394;
}
.cart-product-imitation {
text-align: center;
padding-top: 30px;
height: 80px;
width: 80px;
background-color: #f8f8f9;
}
.product-imitation.xl {
padding: 120px 0;
}
.product-desc {
padding: 20px;
position: relative;
}
.ecommerce .tag-list {
padding: 0;
}
.ecommerce .fa-star {
color: #d1dade;
}
.ecommerce .fa-star.active {
color: #f8ac59;
}
.ecommerce .note-editor {
border: 1px solid #e7eaec;
}
table.shoping-cart-table {
margin-bottom: 0;
}
table.shoping-cart-table tr td {
border: none;
text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
text-align: left;
}
table.shoping-cart-table tr td:last-child {
width: 80px;
}
.ibox {
clear: both;
margin-bottom: 25px;
margin-top: 0;
padding: 0;
}
.ibox.collapsed .ibox-content {
display: none;
}
.ibox:after,
.ibox:before {
display: table;
}
.ibox-title {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #ffffff;
border-color: #e7eaec;
border-image: none;
border-style: solid solid none;
border-width: 3px 0 0;
color: inherit;
margin-bottom: 0;
padding: 14px 15px 7px;
min-height: 48px;
}
.ibox-content {
background-color: #ffffff;
color: inherit;
padding: 15px 20px 20px 20px;
border-color: #e7eaec;
border-image: none;
border-style: solid solid none;
border-width: 1px 0;
}
.ibox-footer {
color: inherit;
border-top: 1px solid #e7eaec;
font-size: 90%;
background: #ffffff;
padding: 10px 15px;
}
.big{
  font-size: 20px;
}
