<div class="container-fluid mt-3 container-fullscreen-cont">
  <div class="custome-head-cnt">
    <div class="row c1">
      <div class="page-head h4">Shopping Cart</div>
    </div>
    <div class="row ct">
      <div class="col-sm-2"></div>
      <div class="about col-sm-8">
        <div class="row rowimg-cont">
          <div class="backgroundimage-cont">
            <div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body p-4">
                    <div class="row align-items-center" *ngFor="let item of productList">
                      <div class="col-md-3 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product ID</p>
                          <p class="lead fw-normal mb-0 p2">{{item.productId}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product Name</p>
                          <p class="lead fw-normal mb-0">{{item.productName}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product Quantity/p>
                          <p class="lead fw-normal mb-0">{{item.quantity}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product Price</p>
                          <p class="lead fw-normal mb-0">{{item.price}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product Description</p>
                          <p class="lead fw-normal mb-0">{{item.productDescription}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product Rating</p>
                          <p class="lead fw-normal mb-0">{{item.productRating}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product Offer Price</p>
                          <p class="lead fw-normal mb-0">{{item.productOfferPrice}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <a routerLink="/editproduct" type="button" value="Update"
                            (click)="onUpdate(item.productId)">Update</a>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <input type="button" value="Remove" (click)="onDelete(item.productId)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a routerLink="/addproduct">Add Products</a>
