<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="loginAuth()">
    <div class="avatar">
      <img src="https://cdn2.iconfinder.com/data/icons/essenstial-ultimate-ui/64/avatar-512.png" alt="Avatar">
    </div>
    <h2 class="text-center">Member Login</h2>

    <div class="form-group">
      <div class="input-icons">
        <i class="fa fa-user icon">
        </i>
      </div>
      <input type="text" name="username" class="form-control" placeholder="Username" [formControl]="username" />
      <div [hidden]="username.valid || username.untouched" class="error">
        <div class="cr" [hidden]="!username.hasError('minlength')">
          Username can't be less than 3 Characters!
        </div>
        <div class="cr" [hidden]="!username.hasError('required')">
          Username can't be empty!
        </div>
      </div>
    </div>



    <div class="form-group">
      <div class="input-icons">
        <i class="fa fa-lock icon"></i>
      </div>
      <input type="password" name="password" class="form-control" placeholder="Password" [formControl]="password" />
      <div [hidden]="password.valid || password.untouched" class="error">
        <div class="cr" [hidden]="!password.hasError('minlength')">
          Password can't be less than 3 Characters!
        </div>
        <div class="cr" [hidden]="!password.hasError('required')">
          Password can't be empty!
        </div>
        <div>
        </div>
      </div>
    </div>

    <div class="form-group btnspc">
      <button type="submit" class="btn btn-primary btn-lg btn-block btnlong" [disabled]="!loginForm.valid"
        (click)="loginAuth()">Login</button>
    </div>

    <!-- <div class="clearfix">
      <a href="#" class="pull-right">Forgot Password?</a>
    </div> -->
    <div class="form-group btnspc">
      <a class="btn btn-primary btn-lg btn-block spc" routerLink="/register">Sign Up</a>
    </div>
