<div class="container-fluid mt-3 container-fullscreen-cont">
  <div class="custome-head-cnt">
    <div class="row c1">
      <div class="page-head h4">Shopping Cart</div>
    </div>
    <div class="row ct">
      <div class="col-sm-2"></div>
      <div class="about col-sm-8">
        <div class="row rowimg-cont">
          <div class="backgroundimage-cont">
            <div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body p-4">
                    <div class="row align-items-center" *ngFor="let item of cartList">
                      <div class="col-md-3 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Cart ID</p>
                          <p class="lead fw-normal mb-0 p2">{{item.cartId}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">User ID</p>
                          <p class="lead fw-normal mb-0">{{item.userId}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product ID</p>
                          <p class="lead fw-normal mb-0">{{item.productId}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Product Name</p>
                          <p class="lead fw-normal mb-0">{{item.productName}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <p class="small text-muted mb-4 pb-2 p1">Cart Total</p>
                          <p class="lead fw-normal mb-0">{{item.cartTotal}}</p>
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <input type="button" value="+" (click)="incrementItem(item.cartId)">
                          <input type="button" value="--" (click)="decrementItem(item.cartId)">
                        </div>
                      </div>
                      <div class="col-md-2 d-flex justify-content-center">
                        <div>
                          <input type="button" value="Remove" (click)="removeItem(item.cartId)">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
