<div class="container-fluid mt-3 container-fullscreen-cont">
  <div class="custome-head-cnt">
    <div class="row" style="background-color:#FFF4E4 ;">
    <div class="page-head h4">Shopping Cart</div>
  </div>
  <div class="row ct">
  <div class="col-sm-2"></div>
   <div class="about col-sm-8">
  
  
  <div class="row rowimg-cont">
      <div class="backgroundimage-cont">
        <div>
        
        <div class="col">
          <div class="card mb-4">
            <div class="card-body p-4">
  
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./15.jpg"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2" style="margin-bottom:5px !important;">Name</p>
                    <p class="lead fw-normal mb-0" style="font-size: 16px !important;">Grey Checks Blue Orange Border</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                    <p class="lead fw-normal mb-0">1</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Price</p>
                    <p class="lead fw-normal mb-0">Rs 1800</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    <p class="lead fw-normal mb-0">Rs 1800</p>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
  
  
          <div class="card mb-4">
            <div class="card-body p-4">
  
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="./14.jpg"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2" style="margin-bottom:5px !important;">Name</p>
                    <p class="lead fw-normal mb-0" style="font-size: 16px !important;">Black Check Yellow Orange Border</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                    <p class="lead fw-normal mb-0">1</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Price</p>
                    <p class="lead fw-normal mb-0">Rs 1800</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    <p class="lead fw-normal mb-0">Rs 1800</p>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
  
  
  
          <div class="card mb-5">
            <div class="card-body p-4">
  
              <div class="float-end">
                <p class="mb-0 me-5 d-flex align-items-center">
                  <span class="small text-muted me-2">Order total:</span> <span
                    class="lead fw-normal">Rs 3600</span>
                </p>
              </div>
  
            </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-light btn-lg me-2">Continue shopping</button>
            <button type="button" class="btn btn-primary btn-lg" style="background-color:#27BEB9;border:none">Order Now</button>
          </div>
  
        </div>
  
  
  </div>
  </div>
  </div>
  
  </div>
  <div class="col-sm-2"></div>
  
  </div>
  
  </div>
  </div>

