<h3 class="title">Products List</h3>
<hr/>
<div class="products">
  <div class="product" *ngFor="let item of productsList">
      <mat-card>
          <p>{{item.productName}}</p>
          <p><strong>{{item.quantity}}</strong></p>
          <p><strong>{{item.price}} INR</strong></p>
          <p><strong>{{item.productOfferPrice}} INR</strong></p>
          <p><strong>{{item.productDescription}}</strong></p>
          <p><strong>{{item.productRating}}</strong></p>
          <img src={{item.imagePath}} alt="productImg">
      </mat-card>
  </div>
</div>
<br/>
