<nav class="navbar navbar-expand-sm navbar-contfirst">
  <ul class="navbar-nav unav">
    <li class="nav-item big_block">
      <!-- <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0 "> -->
      <input autocomplete="off" type="text" class="form-control rounded search_bar" [(ngModel)]="searchString"
        placeholder="Search" />
      <button title="_blank" type="submit" class="rounded search_btn" (click)="submitSearch()"><i
          class="fa fa-search"></i></button>
      <!-- </form> -->
    </li>
    <li class="nav-item small_block">

    </li>

    <li class="nav-item small_block">
      <a class="nav-link" routerLink="/order">Order History</a>
    </li>
    <li class="nav-item small_block">
      <a class="nav-link h6" routerLink="/login">Sign In</a>
    </li>
    <li class="nav-item small_block">
      <a class="nav-link h6" routerLink="/cart">Cart</a>
    </li>
  </ul>
</nav>
